*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

i{
	color: #3EE924;
}

a:hover {
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:50px 80px;
}

a.pay{
	font-weight: 600;
	padding: 20px 40px;
    color:#000;
    background-color:#3EE924;
}


.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 70%;
	height: 3px;
	background-color: #3EE924;
	border: 0;
	margin: 25px auto;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 20px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 30px 20px;
	}
}



/*Header Styles*/

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #000;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #000;
  color: #3ee924;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin: 0px 20px ;
}

.header img{
	margin: -70px 0px;
	width: 150px;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: right;
  }
  
  .header .logo2{
  	text-align: left;
  }
  .header-right {
    float: none;
  }
}

/*Hero Styles*/

.hero {
	position:relative;
	top:0;
	left: 0;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	z-index: -1;
    margin-bottom: 40px;
}

.hero .green{
	color: #3EE924;
}



.hero h3 {
	font: normal 32px "Open Sans", sans-serif;
	margin-bottom: 35px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero img{
	margin:20px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero img{
      width: 310px;
      margin: 0 auto;
	}

	.hero h3
	 {
		display: flex;
		flex-direction: column;
		font-size: 18px;
	}
}

/*Destinations Section*/


.destinations .grid li {
	height: 300px;
	padding: 10px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.destinations .grid li.small {
	flex-basis: 30%;
}

.destinations .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis: 100%;
	}
}

/*gallery Section*/

.gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gallery div{
	height: 300px;
	padding:10px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.gallery .short{
	flex-basis: 25%;
}

.gallery .long{
	flex-basis: 75%;
}

@media (max-width: 1100px) {
	.gallery .short,
	.gallery .long {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.gallery .short,
	.gallery .long {
		flex-basis: 100%;
	}
}


/*Packages Section*/

.packages .grid li {
	padding: 25px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: #3EE924;
	font-size: 40px;
}

.packages .grid li h4 {
	font-size: 20px;
	margin: 20px 0;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Testimonials Section*/

.testimonials .title{
	margin: 40px;
}

.testimonials .grid li{
	padding: 20px;
	flex-basis: 50%;
	text-align: center;
}

.testimonials .quote{
	font-size: 20px;
	line-height: 30px;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}

	.testimonials .grid li{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
}

.contact li {
	margin: 10px auto;
	padding: 20px;
	font-weight: bold;
	font-size: 25px;
	color: black;
	text-align: center;
}

.contact a{
	color: black;
}

.contact p{
	font-size:1.3em;
	opacity:0.8;
}
@media (max-width:800px){
	
	.contact li{
      text-align: center;
      line-height: 20px;
      margin: 10 auto;
	  padding: 20px;
	  font-weight: bold;
	  color: black;
	}

	.contact a{
      font-size:25px;
	}
}

.contact .number i{
	color: #3ee924;
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #000;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin: 15px;
}

@media (max-width: 1200px) {
	footer, ul {
		flex-direction: column;
	}

	footer ul li {
		margin: 10px 10px;
	}
} 

#background{
	background-image: url("../img/lip2.jpg");
	background-position: center;
	background-size: cover;
}

#background .grid{
	width: 100%;
}

#background .grid li{
 font-size: 18px;
 text-align: center;
 line-height: center;
 padding:5px;
 margin:5px;
 color: orangered;
}

#background .grid li i{
	color: white;
	font-size: 40px;
	margin-bottom: 10px;
}


#inline img{
	width: 250px;
	height: 250px;
	display: inline;
	margin:15px 20px 40px 20px;
	border-radius: 50%;
	background-size: cover;
}

@media (max-width: 800px) {

	#inline{
		text-align: center;
	}
}

.rate h2{
 margin: 25px;
 text-align: center;
}

.rate p{
	font-size: 20px;
}

table, th, td {
 width: 100%;
 height: auto;
 border: 1px solid black;
 border-collapse: collapse;
 margin: 20px 0;
 line-height: 20px;
}

th, td{
	padding: 20px;
}

.payment{
	margin: 20px;
}

.rate .method{
	margin:10px;
	line-height:30px;
}

.direction{
	padding:30px 0 0 0;
	margin:50px auto;
	border-radius: 10px;
	font-size: 30px;
	width: 550px;
	height: auto;
	color: white;
	text-align: center;
    background-color: #10822d;
    line-height:30px;
}

#littlep{
	margin-top: 10px;
	font-size:20px;
}

@media (max-width: 800px) {

 .direction{
 	font-size: 25px;
 	width:100%;
 	height: auto;
 	cursor: pointer;
  }

 iframe{
	width: 95%;
	height: 300px;
  }

}

.payment{
	margin-top: 40px;
}


.closed{
  padding:30px 30px;
  margin-top: 60px;
  border: 2px solid #3EE924;
}
